body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffffff;
    }
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.header2, .header3, .header3-white, .header3-hotels, .hotels ul, .feature-wrapper p  
{
    margin: 0;
    padding: 0; 
}
.header2 {
    line-height: 26px;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    }
.header3 {
    font-size: 21px;
    color: #000000;
    }
.header3-white {
    font-size: 21px;
    color: #ffffff;
    }
.header3-hotels {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}
.font-white {
    color: #ffffff;
}
a {
   text-decoration: none;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    position: relative;
  }
.site-navigation {
  list-style: none;
  margin: 0;
  background-color: #ffffff;
  padding: 14px 6% 17px;
  display: flex;
    }
.captions {
    background-image:  url(../img/Shape-1.png), url(../img/top-background-index.jpg);
    background-position: center bottom, center -57px;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    background-size: 100%, 100%; 
    min-height: 507px;
}
.captions img {
    margin-top: 75px;
}
.hotels-inner .site-navigation {
    margin: 0;
}
.main-header-logo {
    display: block;
    position: absolute;
    left:50%; 
    transform: translateX(-50%);
}
.site-navigation li {
    width: 22.73%;
   }
.site-navigation li:nth-child(2) {
    margin-right: 9%;
}
.site-navigation li:nth-child(n+3){
    text-align: right;
    
}
.site-navigation a{
    color: #000000;  
}
.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

p.idea { 
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-align: center;
    margin: 0 0 29px 0;
   }

.feature-wrapper {
    background-color: #ffffff;
    text-align: center;
    padding: 60px 0 50px;
    width: 47.91%;
    margin: 0 auto;    
}
.all-features ul,
.all-feature li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.reasons {
    display: flex;
    flex-wrap: wrap;
}
.reason-item,
.feature-item,
.interested-in {
    text-align: center;
}
.reasons .reason-item-left {
    background: #81b3d2 url(../img/reason-1.jpg) 100%  54% no-repeat;
    background-size: 66.69%;
    width: 100%;
    min-height: 257px;
}

.reason-item-left-wrapper {
    width: 400px;
    text-align: center;
    box-sizing: border-box;
    padding: 45px 60px 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 100%;
}
.reasons .reason-item-right{
    background: #81b3d2 url(../img/reason-2.jpg) 0% 54%  no-repeat;
    background-size: 66.69%;
    width: 100%; 
    min-height: 255px;
}
.reason-item-right-wrapper {
  box-sizing: border-box;
  margin-left: auto;
  width: 400px;
  text-align: center;
  padding: 45px 60px 60px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 100%;  
 }
.reasons .reason-item-withoutfoto {
    background-color: #eeeeee;
    width: 33.3%;
    height: 257px;
    box-sizing: border-box;
    padding: 45px 60px 60px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.reason-item span,
.reason-item p,
.feature-item p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.features {
  display: flex; 
  flex-flow: row wrap;
  min-height: 330px;
  align-items: flex-end;
 }
.reason-item-features {
  box-sizing: border-box;   
}

.feature-item {
    width: 33.33%;
    box-sizing: border-box;
    padding: 0 50px 82px;
 }

.feature-item .header3{
    position: relative;
}
.feature-item .header3::before {
    content: "";
    position: absolute;
    display: inline-block;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
}
.feature-item.apartments .header3::before {
    background-image: url("../img/icon-1.svg");
    bottom: 75px;
    height: 72px;
    width: 75px;
}
.feature-item.food .header3::before {
 background: url("../img/icon-3.svg");
    bottom: 77px;
    height: 70px;
    width: 74px; 
}
.feature-item.souvenirs .header3::before {
    background: url("../img/icon-2.svg");
    bottom: 76px;
    height: 76px;
    width: 64px; 
}
.features li{
    width: 400px;
}
 .feature-item p{
    margin: 0;
    padding: 0;
}
.feature-item h3 {
    padding: 0 0 27px;
}
.interested-in {
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 50px 0 0 0;
    padding: 0;
    position: relative;
}
.check-info {
    text-align: center;
    font-weight: normal;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-top: 25px;  
 }
.button {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    border: none;
}
.button.search {
    background-color: #766357;   
}
.button.submit {
    background-color: #81b3d2; 
   
}
.button.search,
.button.submit {
   padding: 3px 16px;
   font-size: 14px;
   line-height: 21px;
}
.button.search-modal {
    padding: 30px 118px;
    text-align: center;
    display: block;
    margin: 45px auto 0;
    font-size: 21px;
    line-height: 26px;
}
.search-hotels {
    width: 569px;
    height: 395px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 56px 55px ;
    box-sizing: border-box;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
    line-height: 26px;
    color: #000000;
}
.search-hotels p{
    margin: 0;
    padding: 0;
}
.search-hotels  input[type="text"] {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  box-sizing: border-box;
 }
.search-hotels input[class="date"], .search-hotels input[class="date2"] {
  box-sizing: border-box;
  width: 346px;
  padding: 7px 167px 6px 12px;
  position: relative;
  margin-right: 0;
  margin-bottom: 28px;
}
.search-hotels input[class="date"] {
    margin-left: 20px;
}
.search-hotels input[class="date2"] {
   margin-left: 16px; 
}
.search-hotels-item-wrapper {
 display: flex;
 justify-content: space-between;
}

.search-hotels input[class="adults"], .search-hotels input[class="kids"] {
   box-sizing: border-box;
   border: none;
   text-align: center;
   margin-left: 10px;
   padding: 1px 0;
    }

.adult-wrapper, .kids-wrapper  
{
position: relative;
}
.symbol {
    position: absolute;
    font-size: 23px;
    line-height: 26px;
    font-weight: bold;
    
}
.symbol.minus1 {
    top: 6px;
    right: 97px;
    background: none;
    color: #a9a9a9;
}
.symbol.minus2 {
     top: 6px;
    right: 80px;
    background: none;
}
.symbol.plus1 {
    top: 6px;
    right: 17px;
    background: none;
}
.symbol.plus2 {
    top: 6px;
    right: 4px;
    background: none;
}
.button.find {
    padding: 19px 197px;
    margin: 54px auto 0;
    }

.button.search:hover,
.button.search:focus {
    background-color: #604e43;
    
}
.button.search:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3)
}
.button.submit:hover,
.button.submit:focus {
    background-color: #669ec0;
    
}
.button.submit:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3)
}
.date,
.date2 {
    background-color: #f2f2f2;
    border: none;
}
.date:hover,
.date2:hover{
    background-color: #ebebeb;
}
.date:focus,
.date2:focus{
    background-color: #ffffff;
    border: 2px solid e5e5e5;
}
.symbol {
    color: #a9a9a9;
    border: none;
    background-color: #ffffff;
}
.symbol:hover,
.symbol:focus {
    color: #000000;
}
.symbol:active {
    color: #81b3d2;
}
.calendar {
    position: absolute;
    stroke: #cacaca;
    border: none;
    background: none;
  }
.search-hotels p:first-child .calendar {
    top: 63px;
    right: 57px;
}
.search-hotels p:nth-child(2) .calendar {
    top: 130px;
    right: 57px;
}
.calendar:hover {
    stroke: #000000;
}
.calendar:active {
    stroke: #81b3d2;
}


.main-body {
    position: relative;
}
.main-footer  {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    width: 100%;
   
}
.main-footer ul, .hotels-footer ul {
    list-style: none;
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 36px 6px 40px 0;
    text-align: center;
    margin: 0;
    width: 150px;  
}
.main-footer .container,
.hotels-footer .container {
  display: flex;
  justify-content: space-between;    
}
.tag {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    width: 139px;
    margin-left: 132px;
    padding-top: 46px;
    padding-right: 32px;
}

.social-button {
    background-color: #81b3d2;
    width: 47px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}
.footer-copyright {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: regular;
    margin: 0;
    position: relative;
    padding: 47px 0 40px;
   
}
.hotels-footer {
    color: #000000;
    background-color: #fefefe;  
    padding: 0;
    position: relative;
}
.button-logo {
    position: absolute;
    width: 115px;
    height: 49px;
    right: 260px;
    top: 36px;
   
}
.button-logo:hover,
.button-logo:focus {
    stroke: #81b3d2;
   
}
.button-logo:active {
     stroke: #bdbbbc;
     
}

.hotels-inner {
    background: #fefefe;
}
.filter fieldset {
    border: none;
}
fieldset label{
    font-weight: normal;
}
.hotels {
    background-color: #fefefe;
    background-image: url(../img/top-background-hotels.jpg);
    color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
    height: 217px;
    box-sizing: border-box;
    padding: 27px 60px; 
}
.filter {
    display: flex;
    justify-content: space-between;
   
}
.hotels fieldset:nth-of-type(2){
    margin-left: -210px;
}
.hotels fieldset:last-of-type{
    
}
.filter legend { 
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    
   
}
.filter ul {
  list-style: none;
  line-height: 21px;
  padding-top: 20px;

}
.filter ul li{
    padding-bottom: 25px;
}
.filter-range {
    width: 330px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}


.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 40px;
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-position: top center;
  background-repeat: no-repeat;
  }

.checkbox:checked + label:before {
  background-image: url(../img/checkbox-on.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

} 
.checkbox:checked + label:after {
  left: 26px;
}

.price-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    line-height: 20px;
    text-transform: uppercase;
}
.filter-range legend {
    margin-bottom: 10px; 
}
.price-controls {
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
    position: relative;
}
.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}
.price-button:hover {
    background-color: #ffffff;
    color: #000000;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
    cursor: pointer;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.range-toggle:hover {
    background: #1c4f80;
}
.result .button {
    font-size: 14px;
    line-height: 21px;
}
.results-quantity-sort {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0 30px 72px;
    position: relative;
}
.quantity {
    font-size: 21px;
    line-height: 26px; 
    color: #000000;
    margin: 0;
    padding: 0;
}

.sort-flex {
     display: flex;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    padding: 6px 0 0 48px;
   
  }
.sort-by {
    margin-right: 40px;
}
.sort-flex a{
    display: inline-block;
    margin-right: 34px;
}

.sort {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}
.sort:hover {
    color: #81b3d2;
}
.sort:active {
    color: #000000;
    border: none;
}
.active-sort {
    color: #81b3d2;
    border: none;
}
.rating {
    font-weight: normal;
    color: #666666;
}

.sort-arrow{
    width: 11px;
    height: 10px;
    position: absolute;
    
}
.sort-arrow svg path{
   fill: #cacaca; 
}
.sort-arrow:hover svg path,
.sort-arrow:focus svg path {
   fill: #231f20; 
}
.sort-arrow:active svg path, .active-arrow svg path {
   fill: #81b3d2; 
}
.sort-arrow.normal {
    right: 96px;
    top: 35px;
}
.sort-arrow.reverse {
    right: 74px;
    top: 35px;
}
.hotels-results .list-results {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header3-hotels {
    margin: 0;
    padding: 0;
}


.result {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 72px;
    padding-right: 72px;
    border-bottom: 1px solid #e5e5e5;
    flex-grow: 0;
} 
.result-elements{
    display: flex;
    
}

.for-wrapper p{
    padding: 0;
    margin: 0;
 }

.rating {
    display: block;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    margin-top: 44px;
    padding: 5px 14px 5px 14px;
}
.rating-elements ul {
   list-style: none;
   display: flex;
   padding: 0;
   margin: 0;
   justify-content: flex-end;
   margin-right: -5px;
   }
.stars li {
    background-image: url(../img/star.svg);
    background-repeat: no-repeat; 
    width: 18px;
    height: 17px;
    padding-left: 5px;
}

.result-button {
    margin-top: 25px;
}
.for-wrapper .submit {
   margin-right: 6px;
    width: 110px;
    height: 27px;
}
.for-wrapper .search {
   width: 142px;
    height: 27px;
}
.result-elements img {
    padding-right: 30px;
   
}

.result p:first-of-type {
    font-weight: normal;
    color: #333333;
}
.header3-hotels:hover,
.header3-hotels:focus {
    color: #81b3d2;
}
.header3-hotels:active {
    color: rgba(0, 0, 0, 0.3);
}
